
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

body{
    margin: 0;
    padding: 0;
}
#principal{
    width: 100%;
    height: 100px;
   
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;


}
#menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}
#principal button{
    margin-right: 5%;
    background: #0C70F2;
    border: 0px;
    width: 80px;
    height: 40px;
   font-family: inter ;
   font-size: 20px;
   font-weight: 600;
   color: #fff;
   box-shadow: 3px 2px 4px 0px rgba(12, 112, 242, 0.25);
   cursor: pointer;
}
#principal div a{
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-family: Inter;
}
#principal div a:hover{
    color: #cccccc;
}